<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex</title>
</head>
<style>
h1{
    text-align: center;
}
.box{
    margin: 0 auto;
    height:200pt;
    width: 600px;
    padding: 20px;
    background:#f9f9f9;
    border:2px solid #333;
}
</style>
<body>
    <h1>Regex101 Clone</h1>
    <div class = "box">
        <form action="{{url_for ('fun_1') }}" method="post">
            <label><b>Enter the RegEx  : </b></label>
            <input type="regexp" name="reg" style="width:280px" required><br><br><br>
            <label><b>Enter the Text   : </b></label>
            <input type="text" name="str" style="font-size:10pt;height:60px;width:300px" required><br><br><br>
            <button style="background-color:cyan;height:30pt;width:100px"><b>Submit</b></button>
        </form>
    </div>
    
</body>
</html>
